USE [master]
GO
/****** Object:  Database [DNASystem]    Script Date: 6/10/2025 11:40:54 PM ******/
CREATE DATABASE [DNASystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DNASystem', FILENAME = N'D:\DNA SYSTEM\DNASystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DNASystem_log', FILENAME = N'D:\DNA SYSTEM\DNASystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DNASystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DNASystem]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[billid] [int] NOT NULL,
	[bookingid] [int] NULL,
	[date] [date] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[billid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[billdetailid] [int] NOT NULL,
	[billid] [int] NULL,
	[serviceid] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[billdetailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[bookingid] [int] NOT NULL,
	[customerid] [varchar](10) NULL,
	[date] [date] NULL,
	[staffid] [varchar](10) NULL,
	[serviceid] [int] NULL,
 CONSTRAINT [PK__Booking__C6D30705555C850E] PRIMARY KEY CLUSTERED 
(
	[bookingid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseid] [int] NOT NULL,
	[managerid] [varchar](10) NULL,
	[title] [varchar](255) NULL,
	[date] [date] NULL,
	[description] [text] NULL,
	[image] [varchar](255) NULL,
 CONSTRAINT [PK__Course__2AAB4BC953521410] PRIMARY KEY CLUSTERED 
(
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackid] [int] NOT NULL,
	[customerid] [varchar](10) NULL,
	[serviceid] [int] NULL,
	[comment] [text] NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK__Feedback__2612C14C1E357A23] PRIMARY KEY CLUSTERED 
(
	[feedbackid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kit]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kit](
	[kitid] [int] NOT NULL,
	[customerid] [varchar](10) NULL,
	[staffid] [varchar](10) NULL,
	[description] [text] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK__Kit__98D52B28D0102AB3] PRIMARY KEY CLUSTERED 
(
	[kitid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleid] [int] NOT NULL,
	[rolename] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[serviceid] [int] NOT NULL,
	[type] [varchar](50) NULL,
	[name] [varchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[description] [text] NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[serviceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[resultid] [int] NOT NULL,
	[customerid] [varchar](10) NULL,
	[staffid] [varchar](10) NULL,
	[serviceid] [int] NULL,
	[date] [date] NULL,
	[description] [text] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK__TestResu__C6EBD0435D2C41C6] PRIMARY KEY CLUSTERED 
(
	[resultid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/10/2025 11:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userid] [varchar](10) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fullname] [varchar](100) NULL,
	[gender] [varchar](10) NULL,
	[roleid] [int] NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[image] [varchar](255) NULL,
 CONSTRAINT [PK__Users__CBA1B257772BA812] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__bookingid__6D0D32F4] FOREIGN KEY([bookingid])
REFERENCES [dbo].[Booking] ([bookingid])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__bookingid__6D0D32F4]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([billid])
REFERENCES [dbo].[Bill] ([billid])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([serviceid])
REFERENCES [dbo].[Service] ([serviceid])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__custome__5FB337D6] FOREIGN KEY([customerid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__custome__5FB337D6]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__service__619B8048] FOREIGN KEY([serviceid])
REFERENCES [dbo].[Service] ([serviceid])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__service__619B8048]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__staffid__60A75C0F] FOREIGN KEY([staffid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__staffid__60A75C0F]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__manageri__5AEE82B9] FOREIGN KEY([managerid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__manageri__5AEE82B9]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__custom__693CA210] FOREIGN KEY([customerid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__custom__693CA210]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__servic__6A30C649] FOREIGN KEY([serviceid])
REFERENCES [dbo].[Service] ([serviceid])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__servic__6A30C649]
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD  CONSTRAINT [FK__Kit__customerid__571DF1D5] FOREIGN KEY([customerid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Kit] CHECK CONSTRAINT [FK__Kit__customerid__571DF1D5]
GO
ALTER TABLE [dbo].[Kit]  WITH CHECK ADD  CONSTRAINT [FK__Kit__staffid__5812160E] FOREIGN KEY([staffid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Kit] CHECK CONSTRAINT [FK__Kit__staffid__5812160E]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__custo__6477ECF3] FOREIGN KEY([customerid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__custo__6477ECF3]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__servi__66603565] FOREIGN KEY([serviceid])
REFERENCES [dbo].[Service] ([serviceid])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__servi__66603565]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__staff__656C112C] FOREIGN KEY([staffid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK__TestResul__staff__656C112C]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__image__5441852A] FOREIGN KEY([roleid])
REFERENCES [dbo].[Role] ([roleid])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__image__5441852A]
GO
USE [master]
GO
